<%- include('./partials/header') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Write an Article</h1>
                    <form action="/submit_article" method="POST">
                        <div class="mb-3">
                            <input type="text" name="title" class="form-control" placeholder="Title" required>
                        </div>
                        <div class="mb-3">
                            <textarea name="content" class="form-control" placeholder="Article Content" rows="5" required></textarea>
                        </div>
                        
                        <label for="imageUrl">Image URL:</label>
                        <input type="text" id="imageUrl" name="imageUrl">
                        <button type="submit" class="btn btn-primary btn-block">Submit Article</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
